USER_INSTALL_DIR=INSTALLATION_DIR
CHOSEN_FEATURE_LIST=CAS,Samples,Console,DT
CHOSEN_INSTALL_FEATURE_LIST=CAS,Samples,Console,DT
CHOSEN_INSTALL_SET=Custom
CASPORT=CAS_PORT
CASSTOPPORT=CAS_SHUTDOWN_PORT
ENDECA_TOOLS_ROOT=TOOLSROOT
ENDECA_TOOLS_CONF=TOOLSCONF
