USER_INSTALL_DIR=INSTALLATION_DIR
CHOSEN_FEATURE_LIST=PS,ACS,ACA,Ref-Impl
CHOSEN_INSTALL_FEATURE_LIST=PS,ACS,ACA,Ref-Impl
CHOSEN_INSTALL_SET=Complete
ETOOLS_HTTP_PORT=EAC_PORT
ETOOLS_SERVER_PORT=EAC_SHUTDOWN_PORT
EAC_MDEX_ROOT=MDEX_INST_ROOT
