#info-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F5F5F5;
    min-height: 68px;
    text-align:center;
    border: solid 1px #F9F9F9;
    width: 100%;
    font-size: 12px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FBFBFB;
    height: 68px;
    text-align:center;
    border: solid 1px #D9E1E9;
    width: 100%;
}

/* Float the list items side by side */
ul.topnav li {
    display: inline;
    }

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #333333;
    text-align: center;
    padding: 19px 3px 32px 3px;
    text-decoration: none;
    /* transition: 0.3s; */
    font-weight: bold;
    font-family: Arial,sans-serif;
    font-style: normal;
    font-size: 14px;
    border: solid 1px #D9E1E9;
}

/* Change background color of links on hover */
.active a, ul.topnav li a:hover {background-color: #F5F5F5;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

button {
    padding: 5px 10px 5px 10px; 
    margin: 3px;
    width: 140px;
}

.selectBtn, .deleteBtn {
    background: #FBFBFB;
    border: solid 1px #C4CED7;
    cursor: pointer;
}

.selectedBtn {
    background-color: #0572CE;
    color: #FFF;
    border: solid 1px #0572CE;
}

.submitBtn {
    background: #E4E8EA;
    border: solid 1px #C4CED7;
    cursor: pointer;
}

.optionalSubmitBtn {
    background: #FBFBFB;
    border: solid 1px #C4CED7;
    cursor: pointer;
    width: 230px;
    height: 50px;
    vertical-align: top;
}

.submitBtn:hover {
    background-color: #F7F8F9;
    color: #0572CE;
}

.selectBtn:hover {
    background-color: #F5F5F5
}

.deleteBtn:hover {
    background-color: #ffb3b3
}

.form-container {
    color: #4F4F4F;
    font-weight: bold;
    text-align: center;

}

.form-container input {
    background-color: #FCFDFE;
    border: solid 1px #DFE4E7;
}

.form-container label, input {
    width: 300px;
    display: inline-block;
}

.form-container label, textarea {
    width: 300px;
    display: inline-block;
}

.form-container .textarea_label {
    text-align: left;
    vertical-align: top;
    width: 200px;    
}

.form-container .radiodiv {
    width: 300px;
    font-size: 12px;
    display: inline-block;
}

.form-container .radiodivlabel {
	vertical-align: top;
}

.form-container .radioinput {
	vertical-align: top;
    width: 5px;
    display: inline-block;	
}

.form-container .radiolabel {
	width: 250px;
	vertical-align: top;
}

.form-container .subsectionradiolabel {
	width: 250px;
	vertical-align: top;
	text-align: left;
}

.form-container .instance_types_div, .target_platform_div, .instance_data_div, .required_data_div  {
    font-size: 12px;
}

.form-container .instance_types_label {
    text-align: left;
    width: 200px;    
}

.form-container .section_label {
    text-align: left;
    width: 200px;
    font-size: 13px;
}

.form-container .subsection_label {
    text-align: left;
    width: 200px;
    font-size: 13px;
}

.form-container .subsection_input_label {
    text-align: left;
    width: 400px; 
    font-size: 12px;   
}

.form-container .subsection_radio_label {
	vertical-align: top;
    text-align: left;
    width: 400px; 
    font-size: 12px;   
}

.form-container .radio_input_label {
    text-align: left;
    font-size: 10px;
    width: 100px; 
}

.form-container .radio_input_text {
    text-align: left;
    font-size: 10px;
    width: 40px;   
}

.form-container .instance_types_radio {
    width: 5px;
}

.form-container .instance_type_info {
    font-size: 12px;
    text-align: center;
}

.form-container .instance_type_info_label {
    width: 800px;
}

.form-container .array_div {
	width: 800px;
	margin:0 auto;
    background: #F5F5F5;
}
