# Mon Apr 11 17:17:46 EDT 2016
# Replay feature output
# ---------------------
# This file was built by the Replay feature of InstallAnywhere.
# It contains variables that were set by Panels, Consoles or Custom Code.



#Choose Install Folder
#---------------------
USER_INSTALL_DIR=INSTALL_HOME

#Install
#-------
-fileOverwrite_INSTALL_HOME/CommerceReferenceStore/.CommerceReferenceStore_config/config/setup_rule.xml=Yes
-fileOverwrite_INSTALL_HOME/CommerceReferenceStore/.CommerceReferenceStore_config/lib/vendorlibs.jar=Yes
-fileOverwrite_INSTALL_HOME/CommerceReferenceStore/.CommerceReferenceStore_config/lib/OCIAPlatformlib.jar=Yes
-fileOverwrite_INSTALL_HOME/CommerceReferenceStore/.CommerceReferenceStore_config/bin/getlicense.sh=Yes
-fileOverwrite_INSTALL_HOME/CommerceReferenceStore/.CommerceReferenceStore_config/bin/getlicense.bat=Yes
-fileOverwrite_INSTALL_HOME/CommerceReferenceStore/uninstall/.CommerceReferenceStore_uninstall/Uninstall Oracle Commerce Reference Store 11.1.lax=Yes
